// Specific CSS for your home-page


body, html, *, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

// Pour débuguer
// * {
//   border: 1px solid red !important;
// }


.conteneur {
  max-height: 100vh;
  margin: 0 !important;
  //overflow: scroll;
}

section {
  height: 100vh; /* ou une valeur appropriée */
  transition: background-color 0.5s ease;
}

.text-container1{
  padding-top: 140px;
  text-align: center;
}

.main-title{
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 85, "wght" 800;
  font-size: 150px;
}

.subtitle-main1{
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.subtitle-main2{
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 20px;
}

.white1 {
  background-color: white;
}

.black1 {
  background-color: black;
  color: white;
}

.main-title2 {
  position: relative;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 50, "wght" 500;
  font-size: 50px;
  top: 20px;
}




.divider-white {
  border-top: 2px solid;
  color: white;
}


.inside-title {
    position: relative;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 85, "wght" 800;
    font-size: 75px;
    top: 20px;
  }


  .main-title2-right {
    position: relative;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 50, "wght" 500;
    font-size: 50px;
    text-align: right;
    // left: 1225px;
    top: 20px;
  }

  .inside-title-right {
    position: relative;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 85, "wght" 800;
    font-size: 75px;
    text-align: right;
    // left: 1150px;
    top: 20px;
  }
