<div class="text-animation">
  <div class="rotate center-vertical">
    <div id="inner" class="inner" data-controller="text-animation">
    <div class="rotateInLoop">
      <p class="text-anim">HELLO.</p>
      <p class="text-anim">I AM</p>
      <p class="text-anim">RAYAN</p>
      <p class="text-anim">A FULL-STACK</p>
      <p class="text-anim">DEVELOPER</p>
      </div>
      </div>
  </div>
</div>
