<%= render 'partials/navbar' %>

<div class="conteneur" data-controller="scroll">
  <section id="section1" class="white1" data-scroll-target="section">
    <div class="text-container1">
      <h3 class = "subtitle-main1">Full-Stack Developer</h3>
      <h1 class ="main-title">RAYAN ANSER</h1>
      <h3 class = "subtitle-main2">and doing other stuff</h3>
      <div class="scroll-button">
        <i class="fa-solid fa-chevron-down"></i>
          <p id="swipe">SWIPE</p>
      </div>
    </div>
  </section>

  <section id="section2" class="black1" data-scroll-target="section">
    <div class="section2">
      <h2 class=main-title2>PROJECTS</h2>
    </div>
  </section>

  <section id="section3" class="white1" data-scroll-target="section">
    <div class="section2">
      <h2 class=main-title2>SAM</h2>
    </div>
  </section>

  <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  <script src="scroll.js" type="module"></script>
</div>
