#swipe {
  color: black !important;
  position: absolute;
  bottom: -25px;
  left: 50%; /* Adjust horizontal position as needed */
  transform: translateX(-50%); /* Center the chevron horizontally */
  width: 100px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  font-size: 15px;
  padding-top: 300px;
}

.fa-chevron-down {
  position: absolute;
  bottom: -30px;
  left: 50%; /* Adjust horizontal position as needed */
  transform: translateX(-50%); /* Center the chevron horizontally */
  width: 100px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}

.scroll-button {
  margin-bottom: 50px !important;
}
