.project-description {
  position: relative;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 50, "wght" 300;
  font-size: 25px;
  top: 20px;
}

.right-white-project-description{
  color: white;
  position: relative;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 50, "wght" 300;
  font-size: 25px;
  top: 20px;
  text-align: right;
}

.left-white-project-description{
  color: white;
  position: relative;
  font-family: "peridot-pe-variable", sans-serif;
  font-variation-settings: "ital" 0, "wdth" 50, "wght" 300;
  font-size: 25px;
  top: 20px;
  text-align: left;
}
